:root {
    --bgCol: rgb(22, 22, 22);
    --fgCol: rgb(65, 85, 196);
    --bdCol: rgb(63, 6, 221);
    --bdTextCol: rgb(209, 209, 209);
}

body {
    background-color: var(--bgCol);

}

h1,h2,h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--fgCol);
}

.gameDesc {
    font-style: italic;
}

.thumb {
    display: block;
    float: left;
    width: 40%;
    border: 5px solid var(--fgCol);
    border-radius: 20px;
    margin: 10px;
}

div.panelItem {
    background-color: var(--fgCol);
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 5px solid var(--bdCol);
    width: 300px;
    height: 100px;
}

.infoPanel {
    display: inline;
    text-align: center;
    justify-content: center;
}

.panelText {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.playBtn {
    float: right;
}

a.playBtn {
    background-color: var(--fgCol);
    color: var(--bgCol);
    padding: 5px;
    border: 5px solid var(--bdCol);
    border-radius: 20px;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

a.panelText {
    background-color: var(--bdCol);
    padding: 5px;
    border-radius: 5px;
    color: var(--bdTextCol);
}

div.backBtn {
    float:right;
    border-radius: 10px;
    background-color: rgb(65, 85, 196);
    margin: 10px;
}

a.backBtn {
    color: rgb(22, 22, 22);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}